
body {margin:0px;padding:0px;height:100%;}
h2 {font:14px Verdana, Arial, Helvetica, sans-serif;font-weight:bold;color:#485385;}
h2 a:link, a:active, a:hover, a:visited {color:#485385;text-decoration:none}
table {*border-collapse: collapse; border-spacing: 0;width: 100%;}


.topmenu {position:fixed;left:0;top:0;width:100%;}
.MenuSearchLeft{position:fixed;right:38px;top:5px;border-top-left-radius:2px;border-bottom-left-radius:2px;background-color:#ffffff;height:20px;}
.MenuSearchRight{position:fixed;right:20px;top:5px;border-top-right-radius:2px;border-bottom-right-radius:2px;background:linear-gradient(#c8d9fa,#9fb2d6);height:20px;width:18px;padding-left:2px;}

.SearchImage{height:15px;width:15px;vertical-align:middle;}
.SearchText{border:none;border-width:0px;border-spacing:0px;border-top-left-radius:2px;border-bottom-left-radius:2px;height:18px;}
.content{left:0px;top:0px;margin-top:25px;font:12px Verdana, Arial, Helvetica, sans-serif;padding-bottom:30px;margin-left:20px;margin-right:20px;}
.footer{position:fixed;left:0px; bottom:0px; width:100%; height:30px; background:linear-gradient(#dddddd,#aaaaaa)}
.footer2{font:10px Verdana, Arial, Helvetica, sans-serif;color:#ffffff;text-align:right; padding-top:10px; padding-right:10px;text-shadow: 1px 1px #000000; font-weight:bold;}

.menu{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:linear-gradient(#6a75a7,#485385);}
.menu li{padding:0; margin:0; list-style:none; display:inline;}
.menu li a{float:left; padding-left:15px; display:block; color:rgb(255,255,255); text-decoration:none; font:12px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background:linear-gradient(#6a75a7,#485385);font-weight:bold;text-shadow: 1px 1px #000000;}
.menu li a span{line-height:30px; float:left; display:block; padding-right:15px; background:linear-gradient(#6a75a7,#485385)}
.menu li a:hover{background-position:0px -60px; color:rgb(255,255,255);background:linear-gradient(#dddddd,#aaaaaa)}
.menu li a:hover span{background-position:100% -60px;background:linear-gradient(#dddddd,#aaaaaa)}
.menu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; background:linear-gradient(#c8d9fa,#9fb2d6); color:rgb(255,255,255);font-weight:bold;text-shadow: 1px 1px #707070;}
.menu li a.active span, .menu li a.active:hover span{background:linear-gradient(#c8d9fa,#9fb2d6)}active span, .menu li a.active:hover span{background:linear-gradient(#c8d9fa,#9fb2d6)}



.Button {border-radius: 3.1px;font-family: Arial;color: #ffffff;font-size: 12px;background:linear-gradient(#c8d9fa,#9fb2d6);padding: 3px 3px 3px 3px;text-decoration: none; border-style:none;text-shadow: 1px 1px #707070;font-weight:bold}
.Button:hover {background:linear-gradient(#dddddd,#aaaaaa);text-decoration: none; border-style:none;text-shadow: 1px 1px #707070;}

.TextBox {border:solid;border-width:1px;border-spacing:0px;border-radius:2px;border-color:#cccccc;}

.DeviceTable {border-radius: 4px; background-color:#efefef}   
.DeviceTable tr:hover {background: #efefef;transition:none} 
.DeviceTable td, .DeviceTable th {padding: 5px;text-align: left;color:#485385;}
.DeviceTable th {background:linear-gradient(#c8d9fa,#9fb2d6);border-top: none;font:12px Verdana, Arial, Helvetica, sans-serif;color:#ffffff;text-shadow: 1px 1px #707070;}
.DeviceTable td:first-child, .DeviceTable th:first-child {border-left: none;}
.DeviceTable th:first-child {border-radius: 4px 0 0 0;}
.DeviceTable th:last-child {border-radius: 0 4px 0 0;}
.DeviceTable th:only-child{border-radius: 4px 4px 0 0;}
.DeviceTable tr:last-child td:first-child {border-radius: 0 0 0 4px;}
.DeviceTable tr:last-child td:last-child {border-radius: 0 0 4px 0;}
.DeviceTable a:link, a:active, a:hover, a:visited {color:#485385;text-decoration:none}




.EventTable {border-radius: 4px; background-color:#efefef}
.EventTable tr:hover {background: #dddddd;transition: all 0.1s ease-in-out;}    
.EventTable td, .EventTable th {padding: 5px;text-align: left;color:#485385}
.EventTable th {background:linear-gradient(#c8d9fa,#9fb2d6);border-top: none;font:12px Verdana, Arial, Helvetica, sans-serif;color:#ffffff;text-shadow: 1px 1px #707070;}
.EventTable td:first-child, .EventTable th:first-child {border-left: none;}
.EventTable th:first-child {border-radius: 4px 0 0 0;}
.EventTable th:last-child {border-radius: 0 4px 0 0;}
.EventTable th:only-child{border-radius: 4px 4px 0 0;}
.EventTable tr:last-child td:first-child {border-radius: 0 0 0 4px;}
.EventTable tr:last-child td:last-child {border-radius: 0 0 4px 0;}
.EventTable a:link, a:active, a:hover, a:visited {color:#485385;text-decoration:none}


.EventStatusCritical {height:10px;width:10px;background:#ff0000;border-radius:2px;box-shadow: 1px 1px 1px #888888;}
.EventStatusMajor {height:10px;width:10px;background:#ffa31a;border-radius:2px;box-shadow: 1px 1px 1px #888888;}
.EventStatusMinor {height:10px;width:10px;background:#ffff00;border-radius:2px;box-shadow: 1px 1px 1px #888888;}
.EventStatusOK {height:10px;width:10px;background:#4cff00;border-radius:2px;box-shadow: 1px 1px 1px #888888;}

.HoverTable {border-radius: 4px; background-color:#efefef}
.HoverTable tr:hover {background: #dddddd;transition: all 0.1s ease-in-out;}    
.HoverTable td, .HoverTable th {padding: 5px;text-align: left;color:#485385}
.HoverTable th {background:linear-gradient(#c8d9fa,#9fb2d6);border-top: none;font:12px Verdana, Arial, Helvetica, sans-serif;color:#ffffff;text-shadow: 1px 1px #707070;font-weight:bold}
.HoverTable td:first-child, .HoverTable th:first-child {border-left: none;}
.HoverTable th:first-child {border-radius: 4px 0 0 0;}
.HoverTable th:last-child {border-radius: 0 4px 0 0;}
.HoverTable th:only-child{border-radius: 4px 4px 0 0;}
.HoverTable tr:last-child td:first-child {border-radius: 0 0 0 4px;}
.HoverTable tr:last-child td:last-child {border-radius: 0 0 4px 0;}
.HoverTable a:link, a:active, a:hover, a:visited {color:#485385;text-decoration:none}

.StaticTable {border-radius: 4px; background-color:#efefef}
.StaticTable tr:hover {background: #efefef;transition: none;}    
.StaticTable td, .StaticTable th {padding: 5px;text-align: left;color:#485385}
.StaticTable th {background:linear-gradient(#c8d9fa,#9fb2d6);border-top: none;font:12px Verdana, Arial, Helvetica, sans-serif;color:#ffffff;text-shadow: 1px 1px #707070;font-weight:bold}
.StaticTable td:first-child, .StaticTable th:first-child {border-left: none;}
.StaticTable th:first-child {border-radius: 4px 0 0 0;}
.StaticTable th:last-child {border-radius: 0 4px 0 0;}
.StaticTable th:only-child{border-radius: 4px 4px 0 0;}
.StaticTable tr:last-child td:first-child {border-radius: 0 0 0 4px;}
.StaticTable tr:last-child td:last-child {border-radius: 0 0 4px 0;}
.StaticTable a:link, a:active, a:hover, a:visited {color:#485385;text-decoration:none}