
body {margin:0px;padding:0px;height:100%;}
h2 {font:14px Verdana, Arial, Helvetica, sans-serif;font-weight:bold;color:#7992BF;}
h2 a:link, a:active, a:hover, a:visited {color:#7992BF;text-decoration:none}
table {*border-collapse: collapse; border-spacing: 0;width: 100%;}
a:link, a:active, a:hover, a:visited {color:#7992BF;text-decoration:none}

.Button {border-radius: 1px;font-family: Arial;color: #ffffff;font-size: 10px;background:#ED848F;padding: 3px 3px 3px 3px;text-decoration: none;font-weight:bold;border-style:none }
.Button:hover {background:#cccccc;text-decoration: none; border-style:none}
.ReportButton {border-radius: 1px;font-family: Arial;color: #ffffff;font-size: 8px;background:#A9DC8E;padding: 3px;text-decoration: none;font-weight:bold;border-style:none }
.ReportButton:hover {background:#cccccc;text-decoration: none; border-style:none}
.EventButton {border-radius: 1px;font-family: Arial;color: #ffffff;font-size: 8px;background:#ED848F;padding: 3px;text-decoration: none;font-weight:bold;border-style:none }
.EventButton:hover {background:#cccccc;text-decoration: none; border-style:none}

.TextBox {border:solid;border-width:1px;border-spacing:0px;border-radius:2px;border-color:#eeeeee;color:#7992BF;font:10px Verdana, Arial, Helvetica, sans-serif;}
.DropDownList {border:solid;border-width:1px;border-spacing:0px;border-color:#eeeeee;color:#7992BF;font:10px Verdana, Arial, Helvetica, sans-serif;}

.HoverTable {border-radius: 4px; background-color:#ffffff;border-style:solid;border-color:#eeeeee;border-width:1px;}
.HoverTable tr:hover {background: #eeeeee;transition: all 0.1s ease-in-out;}    
.HoverTable td, .HoverTable th {padding: 5px;text-align: left;color:#7992BF;}
.HoverTable th {background:#7992BF;font:10px Verdana, Arial, Helvetica, sans-serif;color:#ffffff;font-weight:bold;}
.HoverTable th:first-child {border-radius: 3px 0 0 0;}
.HoverTable th:last-child {border-radius: 0 3px 0 0;}
.HoverTable tr:last-child td:first-child {border-radius: 0 0 0 3px;}
.HoverTable tr:last-child td:last-child {border-radius: 0 0 3px 0;}
.HoverTable a:link, a:active, a:hover, a:visited {color:#7992BF;text-decoration:none}

.StaticTable {border-radius: 4px; background-color:#ffffff;border-style:solid;border-color:#eeeeee;border-width:1px;}  
.StaticTable td, .StaticTable th {padding: 5px;text-align: left;color:#7992BF;}
.StaticTable th {background:#7992BF;border-top: none;font:10px Verdana, Arial, Helvetica, sans-serif;color:#ffffff;font-weight:bold;}
.StaticTable th:first-child {border-radius: 0 0 0 0;}
.StaticTable th:last-child {border-radius: 3px 3px 0 0;}
.StaticTable tr:last-child td:first-child {border-radius: 0 0 0 3px;}
.StaticTable tr:last-child td:last-child {border-radius: 0 0 3px 0;}
.StaticTable a:link, a:active, a:hover, a:visited {color:#7992BF;text-decoration:none;}

.NavMenu{position:fixed;left:0px;background:#62676A;width:28px;height:100%;}
a.NavLinkHome:link, .NavLinkHome{ width:28px;height:28px;display:block;background-size:28px;background-image: url('Home.png');}
a.NavLinkHome:hover{width:28px;height:28px;display:block;background-size:28px;background-image: url('Home_Hover.png');}
a.NavLinkDevices:link, .NavLinkDevices{ width:28px;height:28px;display:block;background-size:28px;background-image: url('Devices.png');}
a.NavLinkDevices:hover{width:28px;height:28px;display:block;background-size:28px;background-image: url('Devices_Hover.png');}
a.NavLinkReports:link, .NavLinkReports{ width:28px;height:28px;display:block;background-size:28px;background-image: url('Reports.png');}
a.NavLinkReports:hover{width:28px;height:28px;display:block;background-size:28px;background-image: url('Reports_Hover.png');}
a.NavLinkEvents:link, .NavLinkEvents{ width:28px;height:28px;display:block;background-size:28px;background-image: url('Events.png');}
a.NavLinkEvents:hover{width:28px;height:28px;display:block;background-size:28px;background-image: url('Events_Hover.png');}
a.NavLinkOptions:link, .NavLinkOptions{ width:28px;height:28px;display:block;background-size:28px;background-image: url('Config.png');}
a.NavLinkOptions:hover{width:28px;height:28px;display:block;background-size:28px;background-image: url('Config_Hover.png');}

.Search{width:150px;height:20px;background-color:#ffffff;z-index:10;position:absolute;right:0;top:10px;font:10px Verdana, Arial, Helvetica, sans-serif;color:#7992BF;}
.SearchIcon{height:20px;width:20px;}
.SearchTextBox{vertical-align:top;margin-top:1px;border-style:solid;border-width:1px;border-color:#eeeeee;width:100px;color:#7992BF;border-radius:2px;font-size:10px;}
.Main{position:absolute;left:28px;background:#ffffff;width:calc(100% - 67px);padding-left:17px;padding-right:17px;font:10px Verdana, Arial, Helvetica, sans-serif;color:#7992BF;}
.Footer{position:fixed;left:28px; bottom:0px; width:calc(100% - 50px); height:28px; background:#FFFFFF;font:9px Verdana, Arial, Helvetica, sans-serif;font-weight:bold;color:#bbbbbb;}
.FooterLeft{position:fixed;left:40px; bottom:0px; width:150px; height:28px; font:9px Verdana, Arial, Helvetica, sans-serif;font-weight:bold;color:#bbbbbb;}
.FooterRight{position:fixed;right:28px; bottom:0px; width:150px; height:28px; font:9px Verdana, Arial, Helvetica, sans-serif;font-weight:bold;color:#bbbbbb;text-align:right}

.EventsLeftLegend {border-radius: 3px; background-color:#ffffff;border-style:solid;border-color:#eeeeee;border-width:1px;position:absolute; Left:20px; width:80px;padding: 3px 8px 3px 8px; text-align:center}  
.EventsLegendText {font-weight:bold;}
.EventsRightLegend {border-radius: 3px; background-color:#ffffff;border-style:solid;border-color:#eeeeee;border-width:1px;position:absolute; right:20px; width:200px;padding: 3px 8px 3px 8px;}  
.EventsTotalLegend {border-radius: 3px; background-color:#ffffff;border-style:solid;border-color:#eeeeee;border-width:1px;position:absolute; right:20px; width:80px;padding: 3px 8px 3px 8px; text-align:center}  




